h1{
    font-size: 20px !important;
}
.img-fluid{
    height: 300px !important;
    width: 300px !important;
}
.flex-container{
    display: flex !important;
}
.btn{
    background-color: brown !important;
    color: white !important;
}
.abc{
    box-shadow: none !important;
    border-color: black !important;
    width: 100px !important;
}
